@model SpaDay.ViewModel.AddUserViewModel;

@{
}

<h1>Sign Up Form</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="VerifyPassword">Verify Password</label>
        <input type="password" asp-for="VerifyPassword" />
        <span asp-validation-for="VerifyPassword"></span>
    </div>

    <input type="submit" value="submit" />
</form>
